<div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Kategorie</li>
        <li class="list-group-item">{{ ga_tracking[0] }}</li>
        <li class="list-group-item">{{ ga_tracking[1] }}</li>
        <li class="list-group-item">{{ ga_tracking[2] }}</li>
    </ul>
</div>