{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-info" role="alert">
        <h2>{{ adv.getAdvTitle|upper }}  </h2>
      </div>
    </div>
    <div class="col">
      <h2>Kategoria: {{ adv.getAdvCategory }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-light" role="alert">
          {{ adv.getAdvDescription }}
      </div>
    </div>
    <div class="col">
      TUTAJ BĘDĄ ZDJĘCIA
    </div>
  </div>
</div>
{% endblock %}

